body {
    background-color: #d3d3d3;
}

div {
    padding: 5px 5px 5px 5px;
    width: auto;
}

#rebel {
    font-size: 5em;
}

#bug {
    font-size: 5em;
}

table {
    width:80%;
}

a {
    color:#000080;
}

a:hover {
    color:#000080;
    text-decoration:none;
}

#ad {
    bottom: 0;
    width: 100%;
}

#count {
    width:400px;
}
